@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

/* font-family: source-han-serif-korean,serif;
font-weight: 700;
font-style: normal; */

/* font-family: source-han-serif-korean,serif;
font-weight: 400;
font-style: normal; */

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  color: white;
}

.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #A87865, #392019);
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  position: relative;
  z-index: 99;
}

.logo {
  width: 135px;
  height: 75px;
  margin: 0;
  margin-right: 100px;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
}

.search {
  position: relative;
}

.search input {
  width: 267px;
  height: 34px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  outline: none;
}
.search input::placeholder {
  color: white;
}

.search .search-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(../images/search.png);
  background-color: transparent;
  border: none;
  background-size: cover;
  padding: 0;
  position: absolute;
  right: 0;
  top: 6px;
  opacity: 0%;
}
.search::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  
}
.search:hover::after {
  width: 100%;
  animation: 0.6s input-anim ease-out;
}
@keyframes input-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.search:hover .search-btn {
  animation: 1s searchBtn-anim forwards;
}
@keyframes searchBtn-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

nav ul {
  margin: 0;
  margin-left : auto;
  list-style: none;
  padding: 0;
  margin-right: 140px;
}

nav ul li {
  float: left;
  margin-left: 50px;
  font-weight: bold;
  font-size: 14px;
}
nav ul li:first-child{
  margin: 0;
}

.border_line::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 4px;
  height: 3px;
  background: #fff;
  transition: width .3s;
}

.border_line:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color:white;
}

.button {
  z-index: 99;
  position: fixed;
  top: 52px;
  right: 100px;
  width: 35px;
  cursor: pointer;
  transition: opacity .25s ease;
}
.button:hover {
  opacity: .7;
}
.button.active .top{
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button.active .middle{
  opacity: 0;
  background: #fff;
}
.button.active .bottom{
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button span {
  background: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button span:nth-child(2) {
  top: 11px;
}
.button span:nth-child(3) {
  top: 22px;
}

.pattern {
  width: 100vw;
  height: 160px;
  background-image: url(../images/main_pt.png);
  background-repeat: no-repeat;
  opacity: 0%;
  position: absolute;
  top: 0;
  z-index: 1;
  animation: 1.5s ptn-anim ease-out forwards;
}
@keyframes ptn-anim {
  0% {
    opacity: 0;
    transform: translate(0%, -70%);
    mix-blend-mode: luminosity;
  }
  100% {
    opacity: 70%;
    mix-blend-mode: luminosity;
  }
}

.main_bg {
  width: 1300px;
  height: 800vh;
  background-image: url(../images/main_bg_1.png);
  background-repeat: no-repeat;
  background-size: 1240px 100vh;
  position: absolute;
  top: 0;
  left: 0;
  animation: 2s main_bg_anim ease-out;
}
@keyframes main_bg_anim {
  0% {
    transform: translate(-50%);
  }
}


.sub_bg {
  width: 408px;
  height: 287px;
  background-image: url(../images/main_sub_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: 1.5s sub_bg_anim ease-out;
}
@keyframes sub_bg_anim {
  0% {
    transform: translate(50%);
  }
}

.copy {
  position: absolute;
  top: 55%;
  transform: translateY(-50%) rotate(90deg);
  left: -4px;
  font-size: 18px;
  font-family: source-han-serif-korean,serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0;
  text-shadow: 0 3px 10px rgb(0, 0, 0, .7);
  animation: 1s copy-anim ease-out forwards;
  animation-delay: .5s;
}
@keyframes copy-anim {
  0%{
    opacity: 0;
    transform: translate(0, 100%) rotate(90deg);
  }
  30% {
    opacity: 0;
  }
  100% {opacity: 50%;}
}

.number {
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: 'Water Brush', cursive;
  font-size: 100px;
  text-shadow: 0 3px 10px rgb(0, 0, 0, .7);
  animation: 1.5s product-anim ease-out;
}

.product {
  position: absolute;
  top: 20%;
  left: 47%;
  transform: translateX(-50%);
  background-image: url(../images/product_1_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 396px;
  height: 600px;
  z-index: 99;
  animation: 1.3s product-anim ease-out;
}
@keyframes product-anim {
  0% {
    opacity: 0;
    transform: translate(10%);
  }
  20% {
    opacity: 0;
  }
}
.pieces{
  width: 98px;
  height: 86px;
  background-image: url(../images/product_1_2.png);
  z-index: 99;
  position: absolute;
  top: 5%;
  left: 15%;
  animation: .8s pieces-anim ease-out forwards;
  animation-delay: 0.4s;
  opacity: 0;
}
@keyframes pieces-anim {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
    transform: scale(1.2) translate(-20%, -30%);
  }
}


.title_1 {
  position: absolute;
  opacity: 0;
  top: 48%;
  left: 20%;
  transform: translateY(-50%);
  font-family: 'Water Brush', cursive;
  font-size: 200px;
  text-shadow: 0 3px 10px rgb(0, 0, 0, .7);
  animation: 1.5s anim-left ease-out forwards;
  animation-delay: 0.5s;
}
@keyframes anim-left {
  0% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.title_2 {
  position: absolute;
  opacity: 0;
  top: 48%;
  left: 51%;
  transform: translateY(-50%);
  font-family: 'Water Brush', cursive;
  font-size: 200px;
  text-shadow: 0 3px 10px rgb(0, 0, 0, .7);
  animation: 1.5s anim-right ease-out forwards;
  animation-delay: 0.5s;
}
@keyframes anim-right {
  0% {
    opacity: 0;
    transform: translate(70%, -50%);
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.plus_txt {
  position: absolute;
  font-family: 'Water Brush', cursive;
  text-shadow: 0 3px 10px rgb(0, 0, 0, .7);
  font-size: 200px;
}

.btn_anim {
  animation: 1.3s btn-anim ease-out forwards;
  animation-delay: 1.5s;
  position: absolute;
  opacity: 0;
  top: 72%;
  left: 23%;
}
@keyframes btn-anim {
  0%{
    opacity: 0;
    transform: translate(-60%, 0%);
  }
  30% {
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

article button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  font-family: source-han-serif-korean,serif;
  font-weight: 700;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 1px 5px rgb(0, 0, 0, .3);
  cursor: pointer;
}
article button:hover {
  border: none;
  background-color: #392019;
  transition: 0.6s;
  transform: scale(1.1);
}


.more {
  width: 116px;
  margin-right: 16px;
}

.find {
  width: 160px;
}

article .title_txt {
  position: absolute;
  top: 71%;
  left: 50%;
}

.title_txt p {
  font-family: source-han-serif-korean,serif;
  opacity: 0;
  text-shadow: 0 1px 5px rgb(0, 0, 0, .3);
  animation: 1.5s txt-anim ease-out forwards;
  animation-delay: 1s;
}
@keyframes txt-anim {
  0%{
    opacity: 0;
    transform: translate(60%, 0);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.name::after {
  content: '';
  display: block;
  width: 0;
  margin-top: 4px;
  height: 3px;
  background: #fff;
  transition: width 1s;
}
.title_txt:hover .name::after {
  width: 95%;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.txt {
  font-size: 16px;
  margin: 0;
  line-height: 28px;
}

.util {
  position: absolute;
  z-index: 99;
  bottom: 86px;
  right: 100px;
  display: flex;
  align-items: center;
  animation: 1.5s util_anim ease-out;
}
@keyframes util_anim {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.circle {
  width: 14px;
  height: 14px;
  border: none;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 7px;
  border: none;
  opacity: 50%;
  padding: 0;
  cursor: pointer;
}
.circle:not(.show):hover {
  opacity: 80%;
}
.circle:nth-child(5) {
  margin-right: 24px;
}
.show {
  opacity: 100%;
}

.arrow_btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}
.arrow:hover {
  opacity: 100%;
}

.left {
  background-image: url(../images/left.png);
  opacity: 70%;
}

.right {
  background-image: url(../images/right.png);
  opacity: 70%;
}