<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../index.css">
  <link rel="stylesheet" href="main3.css">
</head>
<body>
  <div class="main">
    <nav>
      <h1 class="logo"></h1>
      <div class="search">
        <input type="text" placeholder="Search..."><button class="search-btn"></button>
      </div>
      <ul>
        <li class="border_line"><a href="">PRODUCTS</a></li>
        <li class="border_line"><a href="" id="color">ABOUT</a></li>
        <li class="border_line"><a href="" id="color">SHOP</a></li>
        <li class="border_line"><a href="" id="color">WHERE TO BUY</a></li>
        <li class="border_line"><a href="" id="color">CONTACT</a></li>
      </ul>
      <div class="button">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
    </nav>
    
    <div class="pattern"></div>
    <div class="main_bg"></div>
    <div class="sub_bg"></div>

    <article>
      <span class="copy">Find Luxury where you are</span>
      <span class="number">No.2</span>
      <span class="title_1">Dulce</span>
      <span class="title_2">De Leche</span>
      <div class="product"><div class="pieces"></div></div>
      <div class="btn_anim">
        <button class="more txt_shadow">More</button>
        <button class="find txt_shadow">Find a Store</button>
      </div>
      <div class="title_txt" id="color">
        <p class="name" id="txt_shadow">Strawberry CheeseCake Ice cream Bar</p>
        <p class="txt" id="txt_shadow">짙은 초콜릿 코팅에 촉촉한 화이트초콜릿, 그리고 새콤한 라즈베리 리본.<br>
          이 조합을 싫어할 수 있을까요? 모두가 사랑할 수 밖에 없어요.</p>
      </div>
    </article>

    <div class="util">
        <button class="circle"  onclick="location.href='../index.html'"></button>
        <button class="circle" onclick="location.href='main2.html'"></button>
        <button class="circle show" onclick="location.href='main3.html'"></button>
        <button class="circle" onclick="location.href='main4.html'"></button>
        <button class="circle" onclick="location.href='main5.html'"></button>
        <div class="arrow_btn"><button class="arrow left"></button></div>
        <div class="arrow_btn"><button class="arrow right"></button></div>
    </div>

  </div>






  <script src="index.js"></script>
  <script src="../fonts.js"></script>
</body>
</html>